body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #666;
  font-size: 0.9em;
}

.App {
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.omikuji-container {
  margin-bottom: 20px;
}

.button-container {
  margin-bottom: 20px;
}

.card-container {
  min-width: 90vw;
}

.card-header {
  color: #666;
  font-size: 0.9em;
}

.card-content {
  padding-top: 10px;
  text-align: center;
  font-size: 0.9em;
}

.history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer-header {
  height: 120px;
  background-image: url("cover.png");
  background-size: cover;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  flex-direction: column;
  font-size: 0.8em;
  line-height: 0.25;
}

.sidebar-text {
  color: #666;
  font-size: 0.9em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50vmin;
}

.Running {
  animation: App-logo-spin infinite 0.7s linear;
  height: 50vmin;
}

.fortune {
  height: 50vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
